body{
    background-image: url(/img/background.jpg);
}
nav{
    text-align: center;
    height: 100px;
    width: 100%;
    background-color: gray;
}
h1{
    padding-top: 20px;
    color: white;
    font-size: 40px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
input[type=text], select {
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
      margin-top: 20px;
    width: 100%;
    background-color: rgb(93, 93, 93);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
  }
  input[type=number], select {
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  table{
      position: absolute;
      top: 35%;
      margin-top: 0%;
     margin-left:50% ;
    background-color: rgba(128, 128, 128, 0.452);

  }
  th{
    font-family: 'Roboto', sans-serif;
          padding-left: 20px;

  }
  td{
    font-family: 'Roboto', sans-serif;
      text-align: center;
  }
  fieldset{
    font-family: 'Roboto', sans-serif;

      display: inline-block;
      padding-top: 50px;
      padding-right: 30px;
      padding-left: 30px;
      text-align: center;
      border: none;
      border-radius: 10px;
      width: 200px;
      margin-right:0%;
      margin-left: 10%;
      margin-top: 10%;
      background-color: rgba(128, 128, 128, 0.452) ;
  }
  form{
    font-family: 'Roboto', sans-serif;

  }